# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Outputs
outputs/
*.pth
*.png
*.pdf
*.txt
*.csv

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Streamlit cache
.streamlit/
